.trang-chcha-ng-nhp-child {
    position: absolute;
    top: 722px;
    left: 0px;
    background-color: #f3f3f3;
    width: 1440px;
    height: 863px;
}
.trang-chcha-ng-nhp-item {
    position: absolute;
    height: 22.85%;
    width: 100%;
    top: 45.68%;
    right: 0%;
    bottom: 31.46%;
    left: 0%;
    background-color: #fcfcfc;
}
.hero-child {
    position: absolute;
    height: 100%;
    width: 50.03%;
    top: 0%;
    right: 49.97%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
}
.hero-item {
    position: absolute;
    height: 100%;
    width: 49.97%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 50.03%;
    background-color: #7aab33;
}
.image-removebg-preview-14-17 {
    position: absolute;
    height: 70%;
    width: 35.02%;
    top: 12.36%;
    right: 35.09%;
    bottom: 17.64%;
    left: 29.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.chn-gin-c-ht1 {
    font-weight: 600;
}
.chn-gin-c-ht {
    margin: 0;
}
.i-n-hong1 {
    font-weight: 800;
}
.i-n-hong {
    margin: 0;
    font-size: 40.8px;
}
.chn-gin-c-container {
    position: absolute;
    width: 22.72%;
    top: 31.39%;
    left: 64.91%;
    line-height: 122.4%;
    display: inline-block;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 20.4px;
}
.hng-v-ngt {
    position: absolute;
    width: 23.56%;
    top: 49.31%;
    left: 64.91%;
    font-weight: 600;
    display: inline-block;
}
.i-child {
    width: 146px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 49px;
    z-index: 0;
}
.mua-ngay {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 96px;
    height: 27px;
}
.mua-ngay-wrapper {
    width: 96px;
    position: absolute;
    margin: 0 !important;
    top: 11px;
    left: 25px;
    height: 27px;
    z-index: 1;
}
.i {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
}
.i-wrapper {
    position: absolute;
    height: 6.81%;
    width: 9.73%;
    top: 61.39%;
    right: 25.36%;
    bottom: 31.81%;
    left: 64.91%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.chevron-right-outline-19-icon {
    position: absolute;
    height: 13.33%;
    width: 6.67%;
    top: 45.14%;
    right: 1.6%;
    bottom: 41.53%;
    left: 91.73%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vn {
    position: relative;
    line-height: 30.52px;
}
.vn-wrapper {
    position: absolute;
    height: 5.89%;
    width: 10.33%;
    top: 70%;
    right: 54.09%;
    bottom: 24.11%;
    left: 35.58%;
    border-radius: 11.4px;
    background-color: #7aab33;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5.7px 12.8px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20.93px;
}
.lun-em-li {
    position: absolute;
    width: 91.34%;
    top: 76.86%;
    left: 0%;
    display: inline-block;
}
.c-sn-ni {
    margin: 0;
    white-space: pre-wrap;
}
.c-sn-ni-container {
    position: absolute;
    height: 95.45%;
    width: 100%;
    top: 0%;
    left: 0%;
    font-size: 48px;
    font-weight: 800;
    color: #7aab33;
    display: inline-block;
}
.lun-em-li-cho-bn-nhng-sn-parent {
    position: absolute;
    height: 33.61%;
    width: 26.48%;
    top: 35%;
    right: 67.82%;
    bottom: 31.39%;
    left: 5.7%;
    font-size: 24px;
    color: #20304d;
}
.hero {
    position: absolute;
    top: 0px;
    left: 1px;
    width: 1439px;
    height: 720px;
    color: #fff;
}
.photo-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 9.35px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.photo-container {
    width: 467.5px;
    position: relative;
    height: 747.9px;
}
.photo-container1 {
    width: 296.8px;
    position: relative;
    height: 474.9px;
}
.photos {
    position: absolute;
    top: calc(50% - 373.68px);
    left: calc(50% - 237.73px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 46.7px;
}
.image-carousel-slider {
    position: absolute;
    top: 778px;
    left: 747px;
    background-color: #f3f3f3;
    width: 693px;
    height: 747.9px;
}
.trang-chcha-ng-nhp-inner {
    position: absolute;
    top: 778px;
    left: 0px;
    background-color: #f3f3f3;
    width: 812px;
    height: 748px;
}
.danh-mc-sn-container {
    width: 477px;
    position: relative;
    display: inline-block;
}
.n-vi-chng {
    width: 477px;
    position: relative;
    font-size: 24px;
    color: #5b5b5b;
    display: inline-block;
}
.danh-mc-sn-phm-ocop-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
}
.xem-chi-tit-child {
    width: 175px;
    position: relative;
    border-radius: 8px;
    background-color: #3f7824;
    height: 49px;
    z-index: 0;
}
.xem-chi-tit1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 90px;
    height: 32px;
}
.xem-chi-tit-wrapper {
    width: 90px;
    position: absolute;
    margin: 0 !important;
    top: 17px;
    left: 43px;
    height: 32px;
    z-index: 1;
}
.xem-chi-tit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
    font-size: 16px;
    color: #fff;
}
.frame-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}
.frame-div {
    position: absolute;
    top: 2260px;
    left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 48px;
}
.kh-g {
    position: absolute;
    top: calc(50% - 3075px);
    left: calc(50% + 8403px);
    letter-spacing: -0.01em;
    font-weight: 600;
    font-family: Inter;
    color: #4e4e4e;
    display: inline-block;
    width: 95px;
    height: 12px;
}
.s-mnh-m {
    width: 627px;
    position: relative;
    display: inline-block;
    height: 163px;
    flex-shrink: 0;
}
.gp-phn-gii {
    margin-block-start: 0;
    margin-block-end: 12px;
}
.gp-phn-gii-container {
    width: 627px;
    position: relative;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    color: #20304d;
    display: inline-block;
    height: 263px;
    flex-shrink: 0;
    margin-top: -37px;
}
.s-mnh-m-chng-ti-s-em-l-parent {
    width: 627px;
    height: 456px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.khm-ph-child {
    width: 151px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #3f7824;
    box-sizing: border-box;
    height: 46px;
    z-index: 0;
}
.khm-ph1 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 104px;
    height: 17px;
}
.khm-ph-wrapper {
    width: 104px;
    position: relative;
    height: 17px;
}
.arrow-forward-outline-1-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: -11px;
}
.group-parent {
    margin: 0 !important;
    position: absolute;
    top: 11px;
    left: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}
.khm-ph {
    width: 151px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
    margin-top: -30px;
    font-size: 16px;
}
.frame-group {
    position: absolute;
    top: 939px;
    left: 121px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 48px;
}
.rectangle-div {
    position: absolute;
    top: 1200px;
    left: -499px;
    border-radius: 4px;
    background-color: #cdd1d8;
    width: 204px;
    height: 215px;
}
.box-undefined-glyph-undef {
    width: 43.7px;
    position: relative;
    height: 43.7px;
    overflow: hidden;
    flex-shrink: 0;
}
.sn-vt-a {
    width: 155px;
    position: relative;
    letter-spacing: -0.01em;
    display: inline-block;
    height: 26.8px;
    flex-shrink: 0;
}
.chng-ti-m {
    width: 195.1px;
    position: relative;
    font-size: 10.89px;
    letter-spacing: -0.01em;
    line-height: 160%;
    font-weight: 500;
    color: #20304d;
    display: inline-block;
    margin-top: -2.8px;
}
.sn-vt-a-phng-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.box-undefined-glyph-undef-parent {
    width: 252.9px;
    height: 94.4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14.1px;
}
.frame-child {
    width: 0.4px;
    position: relative;
    height: 94.7px;
    object-fit: contain;
}
.frame-wrapper {
    width: 252.9px;
    height: 94.4px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.people-outline-parent {
    width: 246px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14.1px;
}
.layer-2-icon {
    width: 43.7px;
    position: relative;
    height: 43.7px;
}
.frame-wrapper1 {
    width: 189px;
    height: 94px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.layer-2-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14.1px;
}
.share-outline-parent {
    width: 243px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14.1px;
}
.frame-container {
    width: 1183px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px 30.6px;
}
.trang-chcha-ng-nhp-inner1 {
    position: absolute;
    top: 4205px;
    left: calc(50% - 592px);
    width: 1183px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 13.07px;
}
.dongthap {
    margin-block-start: 0;
    margin-block-end: 8.73px;
}
.one {
    color: #a15039;
}
.c {
    color: rgba(9, 121, 73, 0.87);
}
.omune {
    color: #097949;
}
.one1 {
    color: #1a5cba;
}
.one-comune-one-product1 {
    letter-spacing: -0.03em;
    font-weight: 600;
}
.one-comune-one-product {
    margin: 0;
    font-size: 21.8px;
    color: #fd9f20;
}
.dongthap-one-comune-container {
    position: absolute;
    height: 29.19%;
    width: 21.52%;
    top: 0%;
    left: 0.25%;
    text-align: center;
    display: inline-block;
    font-size: 52.4px;
    color: #3f3f3f;
}
.ng-k-nhn {
    position: relative;
    font-weight: 500;
}
.nhap-email-cua-ban-child {
    width: 320.7px;
    position: relative;
    border-radius: 3.27px;
    background-color: #fff;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    height: 48px;
    z-index: 0;
}
.nhp-email-ca {
    width: 122.2px;
    position: absolute;
    margin: 0 !important;
    top: 4.87px;
    left: 14px;
    display: flex;
    align-items: center;
    height: 43.6px;
    flex-shrink: 0;
    z-index: 1;
}
.nhap-email-cua-ban-item {
    width: 34.9px;
    position: absolute;
    margin: 0 !important;
    top: 7.63px;
    left: 278.12px;
    border-radius: 3.27px;
    background-color: rgba(63, 120, 36, 0.8);
    height: 34.9px;
    z-index: 2;
}
.icon-message {
    width: 22.1px;
    position: absolute;
    margin: 0 !important;
    height: 45.01%;
    top: 26.66%;
    bottom: 28.33%;
    left: calc(50% + 125.4px);
    max-height: 100%;
    object-fit: contain;
    z-index: 3;
}
.nhap-email-cua-ban {
    width: 320.7px;
    height: 49.1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.1px 0px 0px;
    box-sizing: border-box;
    position: relative;
    gap: 10.9px;
    font-size: 13.09px;
    color: #6d6f72;
    font-family: Raleway;
}
.ng-k-nhn-tin-parent {
    position: absolute;
    height: 27.88%;
    width: 26.75%;
    top: 69.58%;
    right: 73.25%;
    bottom: 2.54%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 17.5px;
    font-size: 15.27px;
    font-family: Inter;
}
.group-child {
    position: absolute;
    height: 0.39%;
    width: 61.63%;
    top: 65.64%;
    right: 2.56%;
    bottom: 33.97%;
    left: 35.81%;
    border-top: 1.1px solid #20304d;
    box-sizing: border-box;
}
.vector-icon {
    width: 14.8px;
    position: relative;
    height: 18.5px;
}
.vector-wrapper {
    width: 15.3px;
    height: 18.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.quc-l-30 {
    width: 313px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.quc-l-30-x-m-tn-thnh-p-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10.9px;
}
.frame-parent1 {
    position: absolute;
    height: 17.86%;
    width: 37.56%;
    top: 68.93%;
    right: 26.57%;
    bottom: 13.2%;
    left: 35.86%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5.5px;
    font-family: Inter;
}
.vector-icon1 {
    width: 18.7px;
    position: relative;
    height: 18.5px;
}
.div {
    position: relative;
}
.icon-phone-volume-parent {
    position: absolute;
    height: 12.5%;
    width: 22.21%;
    top: 87.49%;
    right: 41.93%;
    bottom: 0.01%;
    left: 35.86%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4.4px;
    font-family: Inter;
}
.group-item {
    position: absolute;
    height: 17.86%;
    width: 17.74%;
    top: 72.22%;
    right: 0%;
    bottom: 9.92%;
    left: 82.26%;
}
.icon-user {
    width: 18.1px;
    position: relative;
    height: 18.5px;
}
.icon-question {
    width: 3.5px;
    position: relative;
    height: 6.4px;
}
.icon-user-parent {
    position: absolute;
    height: 6.07%;
    width: 1.8%;
    top: 75.16%;
    right: 19.38%;
    bottom: 18.76%;
    left: 78.82%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.h-tr-khch-container {
    position: absolute;
    height: 9.84%;
    width: 15.35%;
    top: 72.84%;
    left: 81.52%;
    letter-spacing: 0.01em;
    color: #000;
    display: inline-block;
}
.v-chng-ti {
    margin-block-start: 0;
    margin-block-end: 15.27px;
    font-size: 15.3px;
    font-weight: 600;
}
.gii-thiu {
    margin-block-start: 0;
    margin-block-end: 15.27px;
}
.v-chng-ti-container {
    width: 123.2px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    cursor: pointer;
}
.danh-mc-ni-container {
    width: 172px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    cursor: pointer;
}
.quy-nh-lin-container {
    width: 144px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    cursor: pointer;
}
.v-chng-ti-gii-thiu-h-tr-parent {
    position: absolute;
    height: 47.55%;
    width: 52.49%;
    top: 4.29%;
    right: 11.67%;
    bottom: 48.16%;
    left: 35.84%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 109.1px;
    font-size: 13.1px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: calc(50% - 16.9px);
    border-radius: 3.27px;
    border: 0.8px solid #0027b0;
    box-sizing: border-box;
    width: 33.8px;
    height: 33.8px;
}
.icon-facebook-f {
    position: absolute;
    height: 38.76%;
    top: 32.27%;
    bottom: 28.98%;
    left: calc(50% - 3.81px);
    max-height: 100%;
    width: 6.8px;
}
.rectangle-parent {
    width: 33.8px;
    position: relative;
    height: 33.8px;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: calc(50% - 16.9px);
    border-radius: 3.27px;
    border: 0.8px solid #e70f0f;
    box-sizing: border-box;
    width: 33.8px;
    height: 33.8px;
}
.icon-youtube {
    position: absolute;
    height: 38.76%;
    top: 32.27%;
    bottom: 28.98%;
    left: calc(50% - 8.18px);
    max-height: 100%;
    width: 17.1px;
}
.rectangle-group {
    position: absolute;
    top: 0px;
    left: calc(50% - 16.9px);
    width: 33.8px;
    height: 33.8px;
}
.group-container {
    position: absolute;
    height: 11.08%;
    width: 11.37%;
    top: 42.54%;
    right: 88.63%;
    bottom: 46.38%;
    left: 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 17.5px;
}
.dongthap-one-comune-one-produc-parent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}
.footer12345-inner {
    position: absolute;
    height: 67.05%;
    width: 83.26%;
    top: 10.77%;
    right: 8.33%;
    bottom: 22.18%;
    left: 8.4%;
}
.vector-icon2 {
    width: 20.7px;
    position: relative;
    height: 18.5px;
}
.chm-sc-khch-container {
    position: relative;
    letter-spacing: 0.01em;
}
.icon-headphones-parent {
    position: absolute;
    height: 7.14%;
    width: 12.22%;
    top: 70%;
    right: 13.89%;
    bottom: 22.86%;
    left: 73.89%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10.9px;
    color: #000;
}
.footer12345 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(88, 120, 36, 0.1);
    width: 1440px;
    height: 420px;
    font-size: 13.09px;
    color: #20304d;
}
.bn-sn-phm-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fcfcfc;
}
.group-child2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: rgba(238, 238, 238, 0);
}
.ru {
    position: absolute;
    top: 33.33%;
    left: 0%;
    font-weight: 600;
}
.rectangle-container {
    position: absolute;
    height: 12.48%;
    width: 33.89%;
    top: 87.52%;
    right: 57.71%;
    bottom: 0%;
    left: 8.4%;
}
.group-div {
    position: absolute;
    height: 12.48%;
    width: 33.89%;
    top: 75.04%;
    right: 57.71%;
    bottom: 12.48%;
    left: 8.4%;
}
.rectangle-parent1 {
    position: absolute;
    height: 12.48%;
    width: 33.89%;
    top: 62.56%;
    right: 57.71%;
    bottom: 24.96%;
    left: 8.4%;
}
.rectangle-parent2 {
    position: absolute;
    height: 12.48%;
    width: 33.89%;
    top: 50.09%;
    right: 57.71%;
    bottom: 37.44%;
    left: 8.4%;
}
.go-sn1 {
    position: absolute;
    height: 30.56%;
    width: 62.7%;
    top: 33.33%;
    left: 0%;
    font-weight: 600;
    display: inline-block;
}
.rectangle-parent3 {
    position: absolute;
    height: 12.48%;
    width: 33.89%;
    top: 25.13%;
    right: 57.71%;
    bottom: 62.39%;
    left: 8.4%;
}
.rectangle-parent4 {
    position: absolute;
    height: 12.48%;
    width: 33.89%;
    top: 37.61%;
    right: 57.71%;
    bottom: 49.91%;
    left: 8.4%;
}
.sn-phm-sy {
    position: absolute;
    height: 30.56%;
    width: 46.11%;
    top: 33.33%;
    left: 0%;
    font-weight: 600;
    display: inline-block;
}
.rectangle-parent5 {
    position: absolute;
    height: 12.48%;
    width: 33.89%;
    top: 12.48%;
    right: 57.71%;
    bottom: 75.04%;
    left: 8.4%;
}
.tri-cy1 {
    position: absolute;
    height: 30.56%;
    width: 18.03%;
    top: 34.72%;
    left: 0%;
    font-weight: 600;
    display: inline-block;
}
.rectangle-parent6 {
    position: absolute;
    height: 12.48%;
    width: 33.89%;
    top: 0%;
    right: 57.71%;
    bottom: 87.52%;
    left: 8.4%;
}
.bn-sn-phm-item {
    position: absolute;
    height: 48.01%;
    width: 19.79%;
    top: 0%;
    right: 29.44%;
    bottom: 51.99%;
    left: 50.76%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.bn-sn-phm-inner {
    position: absolute;
    height: 48.53%;
    width: 40.97%;
    top: 51.47%;
    right: 8.26%;
    bottom: 0%;
    left: 50.76%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.rectangle-icon {
    position: absolute;
    height: 48.01%;
    width: 19.79%;
    top: 0%;
    right: 8.26%;
    bottom: 51.99%;
    left: 71.94%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.line-div {
    position: absolute;
    height: 0.17%;
    width: 33.96%;
    top: 25.04%;
    right: 57.67%;
    bottom: 74.78%;
    left: 8.37%;
    border-top: 1px solid rgba(135, 132, 132, 0.85);
    box-sizing: border-box;
}
.bn-sn-phm-child1 {
    position: absolute;
    height: 0.17%;
    width: 33.96%;
    top: 12.56%;
    right: 57.67%;
    bottom: 87.26%;
    left: 8.37%;
    border-top: 1px solid rgba(135, 132, 132, 0.85);
    box-sizing: border-box;
}
.bn-sn-phm-child2 {
    position: absolute;
    height: 0.17%;
    width: 33.96%;
    top: 37.52%;
    right: 57.67%;
    bottom: 62.31%;
    left: 8.37%;
    border-top: 1px solid rgba(135, 132, 132, 0.85);
    box-sizing: border-box;
}
.bn-sn-phm-child3 {
    position: absolute;
    height: 0.17%;
    width: 33.96%;
    top: 50%;
    right: 57.67%;
    bottom: 49.83%;
    left: 8.37%;
    border-top: 1px solid rgba(135, 132, 132, 0.85);
    box-sizing: border-box;
}
.bn-sn-phm-child4 {
    position: absolute;
    height: 0.17%;
    width: 33.96%;
    top: 62.48%;
    right: 57.67%;
    bottom: 37.35%;
    left: 8.37%;
    border-top: 1px solid rgba(135, 132, 132, 0.85);
    box-sizing: border-box;
}
.bn-sn-phm-child5 {
    position: absolute;
    height: 0.17%;
    width: 33.96%;
    top: 74.96%;
    right: 57.67%;
    bottom: 24.87%;
    left: 8.37%;
    border-top: 1px solid rgba(135, 132, 132, 0.85);
    box-sizing: border-box;
}
.bn-sn-phm-child6 {
    position: absolute;
    height: 0.17%;
    width: 33.96%;
    top: 87.44%;
    right: 57.67%;
    bottom: 12.39%;
    left: 8.37%;
    border-top: 1px solid rgba(135, 132, 132, 0.85);
    box-sizing: border-box;
}
.bn-sn-phm-child7 {
    position: absolute;
    height: 0.17%;
    width: 33.96%;
    top: 99.91%;
    right: 57.67%;
    bottom: -0.09%;
    left: 8.37%;
    border-top: 1px solid rgba(135, 132, 132, 0.85);
    box-sizing: border-box;
}
.bn-sn-phm {
    position: absolute;
    top: 2632px;
    left: 0px;
    width: 1440px;
    height: 577px;
    font-size: 24px;
    color: #333;
}
.o {
    color: rgba(26, 92, 186, 0.87);
}
.p {
    color: rgba(253, 159, 32, 0.87);
}
.ocop {
    position: relative;
    letter-spacing: 0.34em;
    font-weight: 500;
}
.ocop-wrapper {
    position: absolute;
    top: 68px;
    left: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image-removebg-preview-3-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 64px;
    height: 66px;
    object-fit: cover;
}
.frame-parent2 {
    width: 64px;
    position: relative;
    height: 85px;
}
.trang-ch {
    position: relative;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.trang-chheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.trang-chheader-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgba(63, 120, 36, 0.8);
}
.gii-thiuheader-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-angle-left-b {
    width: 10.8px;
    position: relative;
    height: 6.2px;
    object-fit: contain;
}
.sn-phmheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.lin-h2 {
    position: absolute;
    top: 0%;
    left: 0%;
    letter-spacing: -0.01em;
    font-weight: 600;
}
.lin-h1 {
    width: 55px;
    position: relative;
    height: 19px;
}
.frame-parent3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    text-align: left;
    font-size: 16px;
    color: rgba(32, 48, 77, 0.8);
}
.san-pham-header {
    position: absolute;
    top: 9px;
    left: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    text-align: center;
    font-size: 14px;
    color: rgba(161, 80, 57, 0.87);
    font-family: Inter;
}
.tm-kimm-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 8px;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.tm-kim-sn {
    position: relative;
    font-weight: 500;
    white-space: pre-wrap;
}
.tm-kim-sn-phm-wrapper {
    position: absolute;
    height: 46.67%;
    width: 54.25%;
    top: 26.67%;
    right: 37.74%;
    bottom: 26.67%;
    left: 8.02%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.vector-icon3 {
    position: absolute;
    height: 53.33%;
    width: 7.55%;
    top: 23.33%;
    right: 7.55%;
    bottom: 23.33%;
    left: 84.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.tm-kimm {
    width: 212px;
    position: relative;
    height: 30px;
}
.ng-nhp1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    letter-spacing: -0.01em;
    font-weight: 600;
    display: inline-block;
}
.ng-nhp {
    width: 82px;
    position: relative;
    height: 19px;
}
.frame-child1 {
    width: 1px;
    position: relative;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    height: 18px;
}
.line-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.ng-k1 {
    position: absolute;
    height: 100%;
    width: 110.53%;
    top: 0%;
    left: 0%;
    letter-spacing: -0.01em;
    font-weight: 600;
    display: inline-block;
}
.ng-k {
    width: 57px;
    position: relative;
    height: 19px;
}
.frame-parent4 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 20px;
    font-size: 16px;
    font-family: Inter;
}
.thong-bao-icon {
    width: 15.2px;
    position: relative;
    height: 18.9px;
}
.vector-icon4 {
    position: absolute;
    height: 79.17%;
    width: 82.61%;
    top: 20.83%;
    right: 17.39%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.gio-hang-child {
    position: absolute;
    height: 50%;
    width: 52.17%;
    top: 0%;
    right: 0%;
    bottom: 50%;
    left: 47.83%;
    border-radius: 50%;
    background-color: #fff;
}
.div1 {
    position: absolute;
    height: 62.5%;
    width: 30.43%;
    top: 4.17%;
    left: 65.22%;
    letter-spacing: -0.01em;
    display: inline-block;
}
.gio-hang {
    width: 23px;
    position: relative;
    height: 24px;
    font-size: 7px;
    color: #20304d;
    font-family: Poppins;
}
.tm-kimm-parent {
    position: absolute;
    top: 35px;
    left: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 26px;
    font-size: 12px;
    color: #fff;
}
.nh-gi-khch-hng-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
}
.nh-gi-khch-hng-item {
    position: absolute;
    height: 72%;
    width: 41.6%;
    top: 27.99%;
    right: 51.74%;
    bottom: 0.01%;
    left: 6.67%;
    box-shadow: 0px 3.861003875732422px 3.86px rgba(0, 0, 0, 0.25);
    border-radius: 6.76px;
    background-color: #f9b917;
}
.nh-gi-khch-hng-inner {
    position: absolute;
    height: 95.36%;
    width: 41.6%;
    top: 0%;
    right: 50%;
    bottom: 4.64%;
    left: 8.4%;
    border-radius: 3.86px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.t-khch-hng {
    position: absolute;
    top: 10.62%;
    left: 56.8%;
    font-size: 48px;
    white-space: pre-wrap;
}
.nh-gi-khch-hng-child1 {
    position: absolute;
    height: 45.94%;
    width: 36.73%;
    top: 28.38%;
    right: 6.88%;
    bottom: 25.68%;
    left: 56.39%;
    box-shadow: 0px 3.861003875732422px 3.86px rgba(0, 0, 0, 0.25);
    border-radius: 3.86px;
    background-color: #e8e8e8;
    opacity: 0.5;
}
.yn-th {
    position: absolute;
    top: 55.79%;
    left: 59.23%;
    font-size: 23.17px;
    color: #20304d;
}
.nng {
    position: absolute;
    top: 64.09%;
    left: 59.23%;
    font-size: 15.44px;
    color: #000;
    white-space: pre-wrap;
}
.hng-ng-gi {
    position: absolute;
    height: 19.7%;
    width: 30.55%;
    top: 35.14%;
    left: 59.23%;
    line-height: 150%;
    font-weight: 500;
    color: #20304d;
    display: inline-block;
}
.nh-gi {
    position: absolute;
    top: 0%;
    left: 56.8%;
    font-weight: 800;
    color: #e6a500;
}
.b {
    position: absolute;
    height: 14.1%;
    width: 2.43%;
    top: 17.37%;
    left: 86.8%;
    font-size: 123.55px;
    display: inline-block;
    font-family: Lora;
}
.b1 {
    position: absolute;
    height: 14.1%;
    width: 2.43%;
    top: 17.37%;
    left: 89.23%;
    font-size: 123.55px;
    display: inline-block;
    font-family: Lora;
}
.vector-icon5 {
    position: absolute;
    height: 4.56%;
    width: 0.97%;
    top: 87.45%;
    right: 36.32%;
    bottom: 7.99%;
    left: 62.71%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vector-icon6 {
    position: absolute;
    height: 4.56%;
    width: 0.97%;
    top: 87.45%;
    right: 40.91%;
    bottom: 7.99%;
    left: 58.12%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.icon-star {
    width: 25.4px;
    position: relative;
    height: 24.2px;
}
.icon-star-parent {
    position: absolute;
    height: 4.84%;
    width: 13.59%;
    top: 78.38%;
    right: 6.9%;
    bottom: 16.78%;
    left: 79.51%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 15.4px;
}
.nh-gi-khch-hng-child2 {
    position: absolute;
    height: 22.2%;
    width: 7.99%;
    top: 9.27%;
    right: 88.68%;
    bottom: 68.53%;
    left: 3.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-21-icon {
    position: absolute;
    height: 11.2%;
    width: 4.03%;
    top: 84.17%;
    right: 34.79%;
    bottom: 4.63%;
    left: 61.18%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.component-22-icon {
    position: absolute;
    height: 11.2%;
    width: 4.03%;
    top: 84.17%;
    right: 39.38%;
    bottom: 4.63%;
    left: 56.6%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.nh-gi-khch-hng {
    position: absolute;
    top: 1672px;
    left: 27.8px;
    width: 1390px;
    height: 500px;
    font-size: 19.31px;
}
.vector-icon7 {
    width: 14.7px;
    position: relative;
    height: 24.6px;
    object-fit: contain;
}
.vector-container {
    position: absolute;
    height: 10.23%;
    width: 4.34%;
    top: 44.89%;
    right: 95.66%;
    bottom: 44.89%;
    left: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.slow-child {
    position: absolute;
    height: 10.23%;
    width: 4.34%;
    top: 44.89%;
    right: 0%;
    bottom: 44.89%;
    left: 95.66%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.component-27-child {
    position: absolute;
    height: 45.06%;
    width: 98.95%;
    top: 0%;
    right: 1.05%;
    bottom: 54.94%;
    left: 0%;
    border-radius: 12px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.nhiu-hot-ng {
    width: 281px;
    position: relative;
    letter-spacing: -0.01em;
    font-weight: 600;
    display: inline-block;
    height: 89px;
    flex-shrink: 0;
}
.trong-khng-gian {
    width: 281px;
    position: relative;
    font-size: 17.25px;
    line-height: 154.02%;
    color: #363636;
    display: inline-block;
    height: 102px;
    flex-shrink: 0;
}
.nhiu-hot-ng-hp-dn-ti-l-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.tun-trc- {
    width: 286px;
    position: relative;
    font-size: 14.38px;
    letter-spacing: -0.01em;
    color: #6a6a6a;
    display: inline-block;
    height: 20px;
    flex-shrink: 0;
}
.frame-parent5 {
    position: absolute;
    height: 48.01%;
    width: 74.67%;
    top: 51.99%;
    right: 24.81%;
    bottom: 0%;
    left: 0.52%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
}
.component-27 {
    position: absolute;
    height: 100%;
    width: 20.94%;
    top: 0%;
    right: 6.02%;
    bottom: 0%;
    left: 73.03%;
}
.component-28 {
    position: absolute;
    height: 100%;
    width: 20.94%;
    top: 0%;
    right: 28.43%;
    bottom: 0%;
    left: 50.62%;
}
.component-29 {
    position: absolute;
    height: 100%;
    width: 20.94%;
    top: 0%;
    right: 50.84%;
    bottom: 0%;
    left: 28.21%;
}
.component-30 {
    position: absolute;
    height: 100%;
    width: 20.94%;
    top: 0%;
    right: 73.25%;
    bottom: 0%;
    left: 5.8%;
}
.slow {
    position: absolute;
    top: 3419px;
    left: 40px;
    width: 1361px;
    height: 577px;
    font-size: 24px;
    color: #20304d;
}
.bi-vit-gn {
    position: absolute;
    top: 3316px;
    left: 541px;
    font-size: 36px;
    text-align: center;
}
.xem-chi-tittin-tc-child {
    width: 175px;
    position: relative;
    border-radius: 8px;
    border: 1px solid #3f7824;
    box-sizing: border-box;
    height: 49px;
    z-index: 0;
}
.xem-chi-tit2 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 116px;
    height: 33px;
}
.xem-chi-tit-container {
    width: 116px;
    position: absolute;
    margin: 0 !important;
    top: 16px;
    left: 26px;
    height: 33px;
    z-index: 1;
}
.xem-chi-tittin-tc {
    position: absolute;
    top: 4076px;
    left: 632px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    color: #386a20;
}
.live-chat-icon {
    position: absolute;
    top: 1000px;
    left: 1344px;
    width: 65px;
    height: 65px;
}
.trang-chcha-ng-nhp {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 4796px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #3f7824;
    font-family: Raleway;
}